.article{
    border-radius: 8px;
    background-color: white;
   
    padding: 1em 4em;
    margin:0 2em;
    
}

@media screen and (max-width: 960px){
    .article{    
        margin:0 0em;  
        padding: 3em 2em;  
    }
}