.post{    
    font-family: 'Helvetica';
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-bottom: 2px dashed #eee;
    letter-spacing: 1px;
    .post-header{
      display: flex;
      flex-direction: column;
      align-items: left;
      margin-bottom: 1em;
      .info{
        display: flex;
        .date,.tags{
          font-size: 12px;
          color: #aaa;
          margin-right: 12px;
          a{
              color: #aaa;
              color:#34495e;
              letter-spacing: 1.5px;
          }

        }
      }
      
      .title{
        
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 0.5em;
        a{
          font-family: 'futur';
          text-decoration: none;
          color: #3d3d3d;
          color:#34495e;
          
        }
      }
      
    }
    .post-content{
        font-size: 16px;
        color: #3d3d3f;
        line-height: 1.7em;
        
      }
  }